DATABASE_URL="file:./dev.db"
FILE_SERVICE_URL="http://localhost:5100"
DEPLOY_SERVICE_URL="http://localhost:5200"
PINATA_GATEWAY_URL=https://api.pinata.cloud/pinning/pinFileToIPFS
PINATA_JWT=<your-pinata-jwt>
REDIS_HOST="redis"
REDIS_PORT=6379